#sidebar {
  display: flex;
  align-items: center;
  background-color: #333;
  position: sticky;
  padding: 7px;
  z-index: 1000;
  color: white;
  justify-content: space-between;
}

#optionSite {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
}



.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
.dropdown button{
  color: white;
  border-radius: 5px;
  background-color: #e63946;
  border: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  appearance: none; /* Enlève la flèche par défaut du navigateur /
  -webkit-appearance: none;
  padding: 5px 5px;
}

.dropdown-content a {
  color: gray;
  text-decoration: none;
  padding:  3px 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

.dropdown-content {

  display: none;
  padding: 6px ;
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 50px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li:hover {
  display: block;
  background-color: #eeeeee
}

.dropbtn {
  border-left: 1px solid rgba(255,255,255,0.3); / La petite ligne fine à gauche /
  background: transparent; / Si le fond rouge est déjà sur la barre parente */
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover button {
  opacity: 0;
  transition: opacity 4s ease;
}

.arrow {
  margin-left: 5px;
  margin-right: 5px;
}