html, body {
  height: 100%;
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.main-content {
  flex: 1;
}
#sidebar {
  display: flex;
  align-items: center;
  background-color: #333;
  position: sticky;
  padding: 7px;
  z-index: 1000;
  color: white;
  justify-content: space-between;
}

#optionSite {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
}



.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
}



.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

/* Boutons */
.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  z-index: 20;
  background: none;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

.nav-links a:hover {
  color: #6dc7e3;
}

#personalized-message{
  margin-right: 20px;
}

.dropdown button, #logout-form, #MyAccount {
  color: white;
  border-radius: 5px;
  border: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 5px 5px;
}


.dropdown button,  #MyAccount {
  background-color: #e63946;
}

#myAccount {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  text-decoration: none;
}

#logout-form {
  text-decoration: none;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  text-decoration: none;
}

.dropdown-content a {
  color: gray;
  text-decoration: none;
  padding:  3px 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

.dropdown-content {

  display: none;
  padding: 6px ;
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 50px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li:hover {
  display: block;
  background-color: #eeeeee
}

.dropbtn {
  border-left: 1px solid rgba(255,255,255,0.3); / La petite ligne fine à gauche /
  background: transparent; / Si le fond rouge est déjà sur la barre parente */
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover button {
  opacity: 0;
  transition: opacity 4s ease;
}

.arrow {
  margin-left: 5px;
  margin-right: 5px;
}


footer {
  padding: 20px;
  background-color: #333;
  color: white;


}

.footer-links{
  display: flex;
  flex-direction: column; /* affichage en colonne */
  gap: 10px;
}


.footer-content p {
  margin-top: 25px;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  color: white;
  display: block;

}

.footer-links a:hover{
  color: mediumpurple;
}


#shopDescription, #catalog {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  color: white;

}

#shopDescription:hover{
  color: mediumpurple;
}

footer {
  padding: 20px;
  background-color: #333;
  color: white;


}




