body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.product-container {
    max-width: 900px;
    margin: 50px auto 60px auto;
    background: white;
    display: flex;
    gap: 50px;
    padding: 30px 0px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

}

/* GAUCHE */
.product-left {
    flex: 0 0 300px;
}

.product-left img {
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;
}

#description {
    margin-top: 20px;
    border-top: 2px solid #eee;
    line-height: 1.5;
    color: #444;
    font-family: Arial, sans-serif;
    padding-top: 10px;
    margin-left: 10px ;

}

/* DROITE */
.product-right {
    flex: 0.8;
    border-left: 1px solid #eee;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 20px;
}

.product-right h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: #e63946;
    margin-top: 70px;
}


#containerButton {
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 2px solid #eee ;
    margin-top: 10px;
    padding-bottom: 10px;

}

#quantitySelect {

    width: 90px;
    margin-right: 8px;
    flex-shrink: 0;
    border: 1px solid;
}

.add-cart {
    padding: 14px; /* tu peux garder un padding interne pour le texte */
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center; /* centre le texte horizontalement */
    align-items: center;
    width: 200px;
    height: 45px;
}



.add-cart {
    background-color: #0e1216;
    color: white;
    border: none;

}

.add-cart:hover {
    background-color: #333;
}


@media (max-width: 900px) {
    .product-container {
        flex-direction: column;
    }

    .product-right {
        border-left: none;
        padding-left: 0;
        border-top: 1px solid #eee;
        padding-top: 30px;
    }
}
