#containerImage {
    width: 70vw;
    height: 540px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;

}


.carousel-images {
    position: relative;
    width: 100%;
    height: 100%;

}


.carousel-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    inset: 0;

}


.carousel-images img.active {
    opacity: 1;
}


#buttonProducts {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #0e1216;
    border: none;
    border-radius: 8px;
    padding: 13px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-left: 220px;
    margin-bottom: 60px;
}

#titleCarousel {
     border-top: 4px solid;
}

h1 {
    margin-left: 20px;
}




